@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0%;
    background-color: white;
}

.span1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    text-align: center;
}

.center {
    text-align: center;
}

.textSec1 {
    font-family: 'Poppins', sans-serif;
    float: left;
    padding: 70px;
}

.bleu {
    color: #044389;
}

.bleu1 {
    color: #82a1c4;
}

.blanc {
    color: white;
}

.section1 {
    background-image: url(img/Calque9.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    padding-top: 5px;
}

.section2 {
    background-color: white;
    height: 600px;
}

.section3 {
    background-color: #044389;
    height: 400px;
}

.section4 {
    background-color: white;
    height: 400px;
}

.section5 {
    background-color: aliceblue;
    height: 384px;
}

.section6 {
    background-color: aliceblue;
    height: 185px;
}

.section7 {
    background-color: #fc1d26;
    height: 180px;
}

.section8 {
    background-color: white;
    height: 390px;
}

.section9 {
    background-color: #044389;
    height: 70px;
}

.gauche1 {
    margin-left: 70px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #044389;
    width: 40%;
    height: 500px;
    float: left;
}

.droite1 {
    background-image: url(img/Calque11.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #044389;
    width: 50%;
    height: 500px;
    float: right;
}

#head {
    background-color: white;
    height: 90px;
}

#logo {
    float: left;
    height: 90px;
    margin-left: 70px;
}

#logo:hover {
    box-shadow: 0px 0px 15px #044389;
}

#logo2 {
    float: left;
    height: 150px;
    margin-left: 70px;
}

#logo2:hover {
    box-shadow: 0px 0px 15px #044389;
}

.foottext {
    width: 100%;
}

#head ul {
    margin-right: 100px;
    list-style-type: none;
    padding: 32px 32px;
    overflow: hidden;
    background-color: white;
}

#head li {
    float: right;
    font-family: 'Poppins', sans-serif;
}

li a {
    display: center;
    color: #044389;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #fc1d26;
    color: white;
    box-shadow: 0px 0px 10px white;
    border-radius: 7px;
}

.actif {
    background-color: #fc1d26;
    color: white;
    box-shadow: 0px 0px 10px white;
    border-radius: 7px;
}

.newsletter {
    text-align: center;
}

#input1 {
    margin-top: 20px;
    border-radius: 24px;
    padding: 10px 25px;
    width: 250px;
    outline: none;
    border: none;
    background-color: white;
    color: black;
}

.button1 {
    margin: 10px;
    border-radius: 24px;
    border: none;
    padding: 12px 25px;
    width: 150px;
    background-color: white;
    color: black;
    outline: none;
}

.button1:hover {
    transform: translateY(-7px);
    box-shadow: 3px 3px 15px #9C8AF1;
    color: #9C8AF1;
    background-color: white;
}

.button2 {
    margin-top: 10px;
    padding: 12px 25px;
    background-color: transparent;
    border-color: white;
    color: white;
    outline: none;
    font-weight: bold;
}

.button2:hover {
    box-shadow: 0px 0px 15px #044389;
    color: black;
    background-color: white;
}

.left1 {
    padding-top: 20px;
    display: inline-block;
    width: 30%;
    height: 230px;
}

.center1 {
    padding-top: 20px;
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    height: 230px;
}

.right1 {
    padding-top: 20px;
    display: inline-block;
    width: 30%;
    height: 230px;
}

.left2 {
    display: inline-block;
    width: 24%;
    height: 230px;
}

.center2 {
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    height: 230px;
}

.center2 ul {
    overflow: hidden;
    list-style-type: none;
}

.right2 {
    display: inline-block;
    width: 30%;
    height: 230px;
}

.right2 ul {
    overflow: hidden;
    list-style-type: none;
}

.text1 {
    font-family: 'Poppins', sans-serif;
}